<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title></title>
    <link href="../css/app.css" rel="stylesheet" type="text/css" />

</head>
<body>
    $!screen_content
</body>

<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
</html>