<div class="exchange-main">
    <h2>Currency Converter</h2>
    #if($error)
        <div class="errorMessage" display="none">$error</div>
    #end
    <form action="../exchange/" method="POST">
        <ul class="exchange">
            <li><label>Amount : </label><input name="fromAmount" type="text" value="$exchange.fromAmount"/></li>
            <li><label>From : </label><select name="fromCurrency">
                #foreach($currency in $currencies)
                    #if($currency == $exchange.fromCurrency)
                        <option value="$currency.name()" selected="selected">$currency.description</option>
                    #else
                        <option value="$currency.name()">$currency.description</option>
                    #end
                #end
            </select></li>
            <li><label>To : </label><select name="toCurrency">
                #foreach($currency in $currencies)
                    #if($currency == $exchange.toCurrency)
                        <option value="$currency.name()" selected="selected">$currency.description</option>
                    #else
                        <option value="$currency.name()">$currency.description</option>
                    #end
                #end
            </select></li>
            <li><input class="exchange-btn btn" type="submit" value="Exchange"/></li>
        </ul>
    </form>
</div>
